@import '../../../node_modules/reset-css/reset.css';

body {
  font-family: 'Roboto', sans-serif;
}

p, span, a {
  color: #333;
  text-decoration: none;
}

.max-width {
  max-width: 90%;
  margin: 0 auto;
}

.scrolled-to {
  margin-top: -100px;
}

.scroll-wrapper {
  padding-top: 100px;
}
