@import '../../../node_modules/reset-css/reset.css';

body {
  font-family: 'Roboto', sans-serif;
}

p, span, a {
  color: #333;
  text-decoration: none;
}

.max-width {
  max-width: 90%;
  margin: 0 auto;
}

.scrollable {
  margin-top: -100px;
}

.scroll-to-wrapper {
  padding-top: 100px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.space-1 {
  margin-bottom: 6.25px;
}

.space-2 {
  margin-bottom: 12.5px;
}

.space-3 {
  margin-bottom: 25px;
}

.space-4 {
  margin-bottom: 37.5px;
}

.space-5 {
  margin-bottom: 50px;
}

.space-top-1 {
  margin-top: 6.25px;
}

.space-top-2 {
  margin-top: 12.5px;
}

.space-top-4 {
  margin-top: 37.5px;
}

.space-top-5 {
  margin-top: 50px;
}

.space-top-3 {
  margin-top: 25px;
}
