.cta {
  height: 75px;
  background: linear-gradient(to right, #44a5c9, #44b8c9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp-button {
  background: none;
  color: #fff;
  width: 150px;
  height: 35px;
  font-size: 16px;
  font-weight: 100;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.1s;
}

.rsvp-button:hover {
  background: #fff;
  color: #333;
  border: 5px solid #fff;
  font-weight: 700;
}
