.nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 1px 10px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.nav-item-container {
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  padding: 5px 15px;
}

.nav-item-anchor {
  border-bottom: 0px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.nav-item:hover {
  background: #eee;
}

.nav-item.home:hover {
  background: none;
}

.nav-item .active {
  border-bottom: 3px solid #f57670;
}

.home:hover {
  border-bottom: none;
}

.logo {
  width: 40px;
}

.nav-height-holder {
  padding: 80px 0 20px;
}
