.rsvp-modal {
  width: 100.04%;
  min-height: 300px;
  text-align: center;
}

.rsvp-prompt {
  margin: 50px 0 75px;
  text-align: center;
}

.passcodes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.passcode-field {
  margin: 0 15px;
}
