.rsvp-content-modal {
  width: 100.04%;
}

.rsvp-content-modal header {
  background: linear-gradient(to right, #44a5c9, #44b8c9);
  height: 100px;
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  position: absolute;
  margin-left: -40%;
  width: 9%;
}

.rsvp-body {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  height: 100%;
}
