@import '../../../node_modules/reset-css/reset.css';

body {
  font-family: 'Roboto', sans-serif;
}

p, span, a {
  color: #333;
  text-decoration: none;
}

.max-width {
  width: 1366px;
  margin: 0 auto;
}
